/* style for the invoice component */

body,
html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 90px;
}

.invoice-container {
  padding: 30px;
  font-family: Arial, sans-serif;
  width: 500px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
  border-radius: 8px; /* 添加圆角 */
  font-size: 10px;
}

h2 {
  font-size: 24px;
}

.invoice-input {
  border: none;
  height: 20px;
  /* margin-right: 10px; */
  /* margin-bottom: 10px; */
}

.hide-buttons button {
  display: none;
}

/* 隐藏所有按钮 */
button {
  background-color: #ffffff; /* 与背景颜色相同 */
  border: none;
  color: #000000; /* 设置文本颜色 */
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
  border-radius: 4px; /* 添加圆角 */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

/* 隐藏 number input 的增加减少按钮 */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
  appearance: textfield;
}

hr {
  margin-top: 10px;

  border: none;
  height: 1px;
  /* Set the hr color */
  color: #333;
  /* old IE */
  background-color: #333;
  /* Modern Browsers */
}
p {
  font-size: small;
}

b {
  font-size: 12px;
}

button:hover {
  background-color: #f0f0f0; /* 悬停时稍微改变背景颜色 */
}

.remove-button {
  display: block;
  margin: 10px 0 0 0;
}

@media print {
  .remove-button {
    display: none !important;
  }
}
